h1{
    text-align: center;
    color: darkgreen;
    font-size: 2.8rem;
}

#img13{
    background-image: url(Images/index13.jpg);
}
#img14{
    background-image: url(Images/index14.jpg);
}
#img15{
    background-image: url(Images/index15.jpg);
}
#img16{
    background-image: url(Images/index16.jpg);
}
#img17{
    background-image: url(Images/index17.jpg);
}
#img18{
    background-image: url(Images/index18.jpg);
}
#img19{
    background-image: url(Images/index19.jpg);
}
#img20{
    background-image: url(Images/index20.jpg);
}
#img21{
    background-image: url(Images/index21.jpg);
}
#img22{
    background-image: url(Images/index22.jpg);
}
#img23{
    background-image: url(Images/index23.jpg);
}
#img24{
    background-image: url(Images/index24.jpg);
}

#img25{
    background-image: url(Images/index25.jpg);
}

#img26{
    background-image: url(Images/index26.jpg);
}
#img27{
    background-image: url(Images/index27.jpg);
}

#img28{
    background-image: url(Images/index28.jpg);
}
#img29{
    background-image: url(Images/index29.jpg);
}

#img30{
    background-image: url(Images/index30.jpg);
}
#img31{
    background-image: url(Images/index31.jpg);
}

#img32{
    background-image: url(Images/index32.jpg);
}
#img33{
    background-image: url(Images/index33.jpg);
}

#img34{
    background-image: url(Images/index34.jpg);
}
#img35{
    background-image: url(Images/index35.jpg);
}

#img36{
    background-image: url(Images/index36.jpg);
}