h1{
    text-align: center;
    color: darkgreen;
    font-size: 2.5rem;
}
#img48{
    background-image: url(Images/index49.jpg);
}
#img49{
    background-image: url(Images/index50.jpg);
}
#img50{
    background-image: url(Images/index51.jpg);
}
#img51{
    background-image: url(Images/index52.jpg);
}
#img56{
    background-image: url(Images/index57.jpg);
}
#img57{
    background-image: url(Images/index58.jpg);
}
#img58{
    background-image: url(Images/index59.jpg);
}
#img59{
    background-image: url(Images/index60.jpg);
}
#img64{
    background-image: url(Images/index65.jpg);
}
#img65{
    background-image: url(Images/index66.jpg);
}
#img66{
    background-image: url(Images/index67.jpg);
}
#img67{
    background-image: url(Images/index68.jpg);
}
#img68{
    background-image: url(Images/index69.jpg);
}
#img69{
    background-image: url(Images/index70.jpg);
}
#img70{
    background-image: url(Images/index71.jpg);
}
#img71{
    background-image: url(Images/index72.jpg);
}
#img72{
    background-image: url(Images/index73.jpg);
}
#img73{
    background-image: url(Images/index74.jpg);
}
#img74{
    background-image: url(Images/index75.jpg);
}
#img75{
    background-image: url(Images/index76.jpg);
}
#img76{
    background-image: url(Images/index77.jpg);
}
#img77{
    background-image: url(Images/index78.jpg);
}
#img78{
    background-image: url(Images/index79.jpg);
}
#img79{
    background-image: url(Images/index80.jpg);
}
#img80{
    background-image: url(Images/index81.jpg);
}
#img81{
    background-image: url(Images/index82.jpg);
}
#img82{
    background-image: url(Images/index83.jpg);
}
#img83{
    background-image: url(Images/index84.jpg);
}
#img84{
    background-image: url(Images/index85.jpg);
}
#img85{
    background-image: url(Images/index86.jpg);
}
#img86{
    background-image: url(Images/index87.jpg);
}
#img87{
    background-image: url(Images/index88.jpg);
}
#img88{
    background-image: url(Images/index89.jpg);
}
#img89{
    background-image: url(Images/index90.jpg);
}
#img90{
    background-image: url(Images/index91.jpg);
}
#img91{
    background-image: url(Images/index92.jpg);
}
#img92{
    background-image: url(Images/index93.jpg);
}
#img93{
    background-image: url(Images/index94.jpg);
}
#img94{
    background-image: url(Images/index95.jpg);
}
#img95{
    background-image: url(Images/index96.jpg);
}
#img96{
    background-image: url(Images/index97.jpg);
}
#img97{
    background-image: url(Images/index98.jpg);
}
#img98{
    background-image: url(Images/index99.jpg);
}
#img99{
    background-image: url(Images/index100.jpg);
}
